<div class="row">
    <div class="col-md-12">
        <a href="/Home/AddPut" >Dodaj film z opisem i linkiem</a><br />
        <a href="/Home/AddPost">Dodaj link do filmu</a><br />
        <a href="/Home/GetDesc">Pobieranie opisu</a><br />
        <a href="/Home/GetLink">Pobieranie linków</a><br />
        <a href="/Home/DelFilm">Usuń film</a>

    </div>
</div>